- var clsx = ['feedback']

if (feedback.class)
  - clsx = [...clsx, feedback.class]

div(class=clsx)
  +icon('quotes')
  p.feedback__text= feedback.text
  .feedback__author
    span.author__name= feedback.author.name
    span.author__specialization= feedback.author.specialization
    .author__thumbnail
      img(src=feedback.author.image, alt=feedback.author.name)
  