- var clsx = ['menu']
- var mobileClsx = ['menu', 'menu--mobile']

if (menu.class)
  - clsx = [...clsx, menu.class]

ul(class=clsx)
  if (menu.items)
    each item, index in menu.items
      if (index === 0)
        li.menu__item.active
          a.menu__link(href=item.url)= item.text
      else
        li.menu__item
          a.menu__link(href=item.url)= item.text

div(class=mobileClsx)
  span.burger(data-role="activator", data-href="#mobile-menu")
    +icon('menu')
  .dropdown(id="mobile-menu")
    ul
      each item in menu.items
        li
          a(href=item.url)= item.text