- var clsx = ['member']

if (member.class)
  - clsx = [...clsx, member.class]

div(class=clsx)
  .member__thumbnail
    img.lazy(src=placeholder, data-src=member.image, alt=member.name)
    .member__action
      .action
        .action__inner
          +icon('add')
  .member__info
    span.member__name= member.name
    span.member__specialization= member.specialization
  .member__links
    each link in member.links
      a.link(href=link.url)
        +icon(link.icon)
