- var clsx = ['post']

if (post.class)
  - clsx = [...clsx, post.class]

if (post.type && post.type === 'small')
  - clsx = [...clsx, 'post--small']

div(class=clsx)
  if (post.type && post.type === 'small')
    .post__thumbnail
      img.lazy(src=placeholder, data-src=post.thumbnail, alt=post.title)
    .post__content
      h5.post__title= post.title
      p.post__excerpt= post.excerpt
      date.post__date= post.date
  else
    .post__thumbnail
      img.lazy(src=placeholder, data-src=post.thumbnail, alt=post.title)
    .post__content
      h5.post__title= post.title
      .post__info
        span By #{post.author}
        span |
        span #{post.commentsCount} comment
    .post__date
      span 12
      span Feb